<br/>
<div style="float:left;width:130px;" class="header round">
<table>
  <tr class="tabhead">
	<th>Country</th>
  </tr>
<%countries_unsorted = CountryYear.find_all_by_number(@habi_year.year)%>
<%countries_sorted = countries_unsorted.sort_by{|country| country.country.name}%>
<%countries_sorted.each do |country_years|%>
<tr class="<%= cycle("tabeven","tabodd") %>">
	<td><%= link_to(country_years.country.name,country_years) %></td>
</tr>
<%end%>
</table>
</div>
<div style="float:left">
0% Habitat-area <img src=<%= url_for("/images/gradient.png") %> > 100% Habitat Area
</div>
<p>
<center>	
<% if @habi_year.year != @last_habi_year.year %>
	Previous Year: <%= link_to(@last_habi_year.year, @last_habi_year) %>
<% end %>

Year: <b><%= @habi_year.year %></b>

<% if @habi_year.year != @next_habi_year.year %>
Next Year: <%= link_to(@next_habi_year.year, @next_habi_year) %>
<% end %>
</p>
<%= raw @habi_year.imagemap %>
</center>
