<p id="notice"><%= notice %></p>
<% country_image = "/images/"+@country_year.country.handle+".png" %>
<%= image_tag country_image, :align => "left" %>
<h1>
<%=@country_year.country.name %> 
(<%=@country_year.number%>)
</h1>
<p>
  <img src="/images/gas_icon.png"> <b>Emissions (in thousand tons CO2-Equivalents):</b>
  <%= @country_year.emission %>
  <% if @country_year.emission < @last_year.emission %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.emission > @last_year.emission %>
  <font color="red"> (-)</font></b>
  <% elsif @country_year.emission = @last_year.emission %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
</p>

<p>
  <img src="/images/percent_icon.png"> <b>Sufficiency of habitats:</b>
  <%= @country_year.sufficiency %>%
  <% if @country_year.sufficiency > @last_year.sufficiency %> 
  <b><b><font color="green"> (+)</font></b>
  <% elsif @country_year.sufficiency < @last_year.sufficiency %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.sufficiency = @last_year.sufficiency %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
</p>

<p>
  <img src="/images/area_icon.png"> <b>Area habitats (percent):</b>
  <%= @country_year.area_habitats_percent %>%
  <% if @country_year.area_habitats_percent > @last_year.area_habitats_percent %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.area_habitats_percent < @last_year.area_habitats_percent %>
  <font color="red"> (-)</font></b>
  <% elsif @country_year.area_habitats_percent = @last_year.area_habitats_percent %>
  <font color="gray"> (o)</font></b>
  <% end %>
</p>

<p>
  <img src="/images/scaled_icon.png"> <b>Area habitats (scaled):</b>
  <%= @country_year.area_habitats_scaled %>
</p>


<%= link_to 'Edit', edit_country_year_path(@country_year) %> |
<%= link_to 'Back', country_years_path %>
