<p id="notice"><%= notice %></p>

<h1>
<%=@country_year.country.name %> 
(<%=@country_year.number%>)
</h1>

<p>
  <b>Emissions (in thousand tons CO2-Equivalents):</b>
  <%= @country_year.emission %>
  <% if @country_year.emission < @last_year.emission %> 
  <font color="green"> (+)</font>
  <% elsif @country_year.emission > @last_year.emission %>
  <font color="red"> (-)</font>
  <% elsif @country_year.emission = @last_year.emission %>
  <font color="gray"> (o)</font>
  <% end %>
</p>

<p>
  <b>Sufficiency of habitats:</b>
  <%= @country_year.sufficiency %>%
  <% if @country_year.sufficiency > @last_year.sufficiency %> 
  <font color="green"> (+)</font>
  <% elsif @country_year.sufficiency < @last_year.sufficiency %>
  <font color="red"> (-)</font>
  <% elsif @country_year.sufficiency = @last_year.sufficiency %>
  <font color="gray"> (o)</font>
  <% end %>
</p>

<p>
  <b>Area habitats (percent):</b>
  <%= @country_year.area_habitats_percent %>%
  <% if @country_year.area_habitats_percent > @last_year.area_habitats_percent %> 
  <font color="green"> (+)</font>
  <% elsif @country_year.area_habitats_percent < @last_year.area_habitats_percent %>
  <font color="red"> (-)</font>
  <% elsif @country_year.area_habitats_percent = @last_year.area_habitats_percent %>
  <font color="gray"> (o)</font>
  <% end %>
</p>

<p>
  <b>Area habitats (scaled):</b>
  <%= @country_year.area_habitats_scaled %>
</p>


<%= link_to 'Edit', edit_country_year_path(@country_year) %> |
<%= link_to 'Back', country_years_path %>
