<p id="notice"><%= notice %></p><div align="left">
<% country_image = "/images/" + @country_year.country.handle.downcase+".png" %>
<%= image_tag country_image, :align => "left" %>
</div>
<h1>
<%=@country_year.country.name %> 
(<%=@country_year.number%>)
</h1>
<p>
  <img src="/images/gas_icon.png"> <b>Emissions (in thousand tons CO2-Equivalents):</b>
  <%= @country_year.emission %>
  <a onmouseover="showWMTT('1')" onmouseout="hideWMTT()" href="#">
  <% if @last_year.emission == "-"%>
  <b><font color="gray"> (o)</font></b>
  <%elsif @country_year.emission == "-"%>
  <%else%>
  <% if @country_year.emission < @last_year.emission %> 
	<b><font color="green"> (+)</font></b>
  <% elsif @country_year.emission > @last_year.emission %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.emission = @last_year.emission %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
  <% end %>
	</a>
</p>

<p>
  <img src="/images/percent_icon.png"> <b>Sufficiency of habitats:</b>
  <%= @country_year.sufficiency %>%
  <a onmouseover="showWMTT('2')" onmouseout="hideWMTT()" href="#">
  <% if @last_year.sufficiency == "-"%>
  <b><font color="gray"> (o)</font></b>
  <%elsif @country_year.sufficiency == "-"%>
  <%else%>
  <% if @country_year.sufficiency.to_i > @last_year.sufficiency.to_i %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.sufficiency.to_i < @last_year.sufficiency.to_i %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.sufficiency = @last_year.sufficiency %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
  <% end %>
  </a>
</p>

<p>
  <img src="/images/area_icon.png"> <b>Area of habitats (percent):</b>
  <%= @country_year.area_habitats_percent %>%
  <a onmouseover="showWMTT('3')" onmouseout="hideWMTT()" href="#">
  <% if @last_year.area_habitats_percent == "-"%>
  <b><font color="gray"> (o)</font></b>
  <%elsif @country_year.area_habitats_percent == "-"%>
  <%else%>
  <% if @country_year.area_habitats_percent > @last_year.area_habitats_percent %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.area_habitats_percent < @last_year.area_habitats_percent %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.area_habitats_percent = @last_year.area_habitats_percent %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
  <% end %>
  </a>
</p>

<p>
  <img src="/images/scaled_icon.png"> <b>Area of habitats (scaled):</b>
  <%= @country_year.area_habitats_scaled %>
</p>

<% if @country_year.animal_joins != [] %>
<h2>Endangered species, assessed in this year</h2>
<table>
  <tr class="tabhead">
	<th>Scientific name</th>
    <th>Common name</th>
    <th>Category</th>
    <th>Trend</th>
    <th>Links</th>
  </tr>

<%animal_counter = 4%>

<% @country_year.animal_joins.each do |animal_joins| %>
	<%tempname = animal_joins.animal.name.split(" ")%>
	<%image = tempname[0] + "_" + tempname[1] + ".jpeg"%>
	<div id="<%=animal_counter%>" class="tooltip">		
	<%if File.exist? RAILS_ROOT + "/public/images/pictures/" + image%>
		<%if animal_joins.animal.author_link != "\n" %>
			<%= link_to image_tag("/images/pictures/" + image), animal_joins.animal.author_link %><br/>
		<%else%>
			<%= link_to image_tag("/images/pictures/" + image), animal_joins.animal.image_link %><br/>
		<%end%>
	Picture by <%=animal_joins.animal.author%><br/>
	License: <%=animal_joins.animal.image_license%>	
	<%elsif animal_joins.animal.image_link != "none" %>
	Due to copyright-restrictions we are not allowed to embed this picture. Just click to see the picture of this animal/plant
	<%else%>
	Sorry, we could not find any picture of this plant/animal. If you've got one, just send us an email.
	<%end%>	
	</div>
	
	
  <tr class="<%= cycle("tabeven","tabodd") %>">
	<%if animal_joins.animal.author_link != "\n" %>
	<td><i><a onmouseover="showWMTT('<%=animal_counter%>')" onmouseout="hideWMTT()" href="<%=animal_joins.animal.author_link%>">
	<%elsif animal_joins.animal.image_link != "none"%>
	<td><i><a onmouseover="showWMTT('<%=animal_counter%>')" onmouseout="hideWMTT()" href="<%=animal_joins.animal.image_link%>">
	<%else%>
	<td><i><a onmouseover="showWMTT('<%=animal_counter%>')" onmouseout="hideWMTT()" href="#">
	<%end%>
	<%= animal_joins.animal.name%></a></i></td>
    <td><%= animal_joins.animal.common %></td>
    <td><%= animal_joins.animal.category %></td>
    <td><%= animal_joins.animal.trend %></td>
    <td><%= link_to 'Details at IUCN RedList', animal_joins.animal.link %> <a href="http://www.google.com/#q=<%=animal_joins.animal.name%>"><img src="/images/google.png"></a> <a href="http://en.wikipedia.org/w/index.php?title=Special%20Search&search=<%=animal_joins.animal.name%>"><img src="/images/wiki.ico"></a> </td>
  </tr>
<%animal_counter += 1%>
<% end %>
</table>

<%else%>
<h2>No endangered species were assessed in this year</h2>

<%end%>
<br />


<%  if @last_year.number != @country_year.number %> <%= link_to @last_year.number,@last_year %> | <%end%> 

<%= @type %>
<% if @type == "habi" %>
	<%= link_to 'Back', HabiYear.find_by_year(@country_year.number) %>
<% else %>
	<%= link_to 'Back', SuffYear.find_by_year(@country_year.number) %>
<% end %>

	<% if @next_year.number != @country_year.number %> | <%= link_to @next_year.number,@next_year%> <% end %>

<script type="text/javascript">
<!--
wmtt = null;
document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x);
    y = (e.pageY ? e.pageY : window.event.y);
    wmtt.style.left = x + "px";
	wmtt.style.top  = (y - wmtt.offsetHeight) + "px";
  }
}
function showWMTT(id) {
  wmtt = document.getElementById(id);
  wmtt.style.display = "block";
}
function hideWMTT() {
  wmtt.style.display = "none";
}
-->
</script>


<div id="1" class="tooltip"> 
<% if @last_year.emission == "-"%>
There is no data available for the last year
<%else%>
<% emissions = @country_year.emission.to_i - @last_year.emission.to_i %> 
<% if emissions > 0 %>
+<%= emissions %> thousand tons of emissions to last year
<% elsif emissions < 0 %>
<%= emissions %> thousand tons of emissions to last year
<% elsif emissions == 0%>
No change in emissions to last year
<%end%>
<%end%>
</div>

<div id="2" class="tooltip">
<% if @last_year.sufficiency == "-"%>
There is no data available for the last year
<%else%>
<% sufficiency = @country_year.sufficiency.to_i - @last_year.sufficiency.to_i %> 
<% if sufficiency > 0 %>
+<%= sufficiency %>% sufficiency to last year
<% elsif sufficiency < 0 %>
<%= sufficiency %>% sufficiency to last year
<% elsif sufficiency == 0%>
No change in sufficiency to last year
<%end%>
<%end%>
</div>

<div id="3" class="tooltip">
<% if @last_year.area_habitats_percent == "-"%>
There is no data available for the last year
<%else%>
<% area_habitats_percent = @country_year.area_habitats_percent.to_i - @last_year.area_habitats_percent.to_i %> 
<% if area_habitats_percent > 0 %>
+<%= area_habitats_percent %> % habitats to last year
<% elsif area_habitats_percent < 0 %>
<%= area_habitats_percent %> % habitats to last year
<% elsif area_habitats_percent == 0%>
No change in area of habitats to last year
<%end%>
<%end%>
</div>
