<p id="notice"><%= notice %></p>
<% country_image = "/images/" + @country_year.country.handle.downcase+".png" %>
<%= image_tag country_image, :align => "left" %>
<h1>
<%=@country_year.country.name %> 
(<%=@country_year.number%>)
</h1>
<p>
  <img src="/images/gas_icon.png"> <b>Emissions (in thousand tons CO2-Equivalents):</b>
  <%= @country_year.emission %>
  <a onmouseover="showWMTT('1')" onmouseout="hideWMTT()" href="#">
  <% if @country_year.emission < @last_year.emission %> 
	<b><font color="green"> (+)</font></b>
  <% elsif @country_year.emission > @last_year.emission %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.emission = @last_year.emission %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
	</a>
</p>

<p>
  <img src="/images/percent_icon.png"> <b>Sufficiency of habitats:</b>
  <%= @country_year.sufficiency %>%
  <a onmouseover="showWMTT('2')" onmouseout="hideWMTT()" href="#">
  <% if @country_year.sufficiency.to_i > @last_year.sufficiency.to_i %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.sufficiency.to_i < @last_year.sufficiency.to_i %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.sufficiency = @last_year.sufficiency %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
  </a>
</p>

<p>
  <img src="/images/area_icon.png"> <b>Area of habitats (percent):</b>
  <%= @country_year.area_habitats_percent %>%
  <a onmouseover="showWMTT('3')" onmouseout="hideWMTT()" href="#">
  <% if @country_year.area_habitats_percent > @last_year.area_habitats_percent %> 
  <b><font color="green"> (+)</font></b>
  <% elsif @country_year.area_habitats_percent < @last_year.area_habitats_percent %>
  <b><font color="red"> (-)</font></b>
  <% elsif @country_year.area_habitats_percent = @last_year.area_habitats_percent %>
  <b><font color="gray"> (o)</font></b>
  <% end %>
  </a>
</p>

<p>
  <img src="/images/scaled_icon.png"> <b>Area of habitats (scaled):</b>
  <%= @country_year.area_habitats_scaled %>
</p>


<h2>Endangered species, assessed in this year</h2>

<table>
  <tr class="tabhead">
	<th>Scientific name</th>
    <th>Common name</th>
    <th>Category</th>
    <th>Trend</th>
    <th>Links</th>
  </tr>

<% @country_year.animal_joins.each do |animal_joins| %>
  <tr class="<%= cycle("tabeven","tabodd") %>">
	<td><i><%= animal_joins.animal.name%></i></td>
    <td><%= animal_joins.animal.common %></td>
    <td><%= animal_joins.animal.category %></td>
    <td><%= animal_joins.animal.trend %></td>
    <td><%= link_to 'Details at IUCN RedList', animal_joins.animal.link %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to @last_year.number,@last_year%> | <%= link_to 'Edit', edit_country_year_path(@country_year) %> |
<%= link_to 'Back', country_years_path %> | <%= link_to @next_year.number,@next_year%>

<script type="text/javascript">
<!--
wmtt = null;
document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x) + wmtt.offsetParent.scrollLeft - wmtt.offsetParent.offsetLeft;
    y = (e.pageY ? e.pageY : window.event.y) + wmtt.offsetParent.scrollTop - wmtt.offsetParent.offsetTop;
    wmtt.style.left = (x + 30) + "px";
    wmtt.style.top   = (y + 30) + "px";
  }
}
function showWMTT(id) {
  wmtt = document.getElementById(id);
  wmtt.style.display = "block";
}
function hideWMTT() {
  wmtt.style.display = "none";
}
-->
</script>



<div id="1" class="tooltip"> 
<% emissions = @country_year.emission.to_i - @last_year.emission.to_i %> 
<% if emissions > 0 %>
+<%= emissions %> emissions to last year
<% elsif emissions < 0 %>
<%= emissions %> emissions to last year
<% elsif emissions == 0%>
No change in emissions to last year
<%end%>
</div>

<div id="2" class="tooltip">
<% sufficiency = @country_year.sufficiency.to_i - @last_year.sufficiency.to_i %> 
<% if sufficiency > 0 %>
+<%= sufficiency %> sufficiency to last year
<% elsif sufficiency < 0 %>
<%= sufficiency %> sufficiency to last year
<% elsif sufficiency == 0%>
No change in sufficiency to last year
<%end%>
</div>

<div id="3" class="tooltip">
<% area_habitats_percent = @country_year.area_habitats_percent.to_i - @last_year.area_habitats_percent.to_i %> 
<% if area_habitats_percent > 0 %>
+<%= area_habitats_percent %> % habitats to last year
<% elsif area_habitats_percent < 0 %>
<%= area_habitats_percent %> % habitats to last year
<% elsif area_habitats_percent == 0%>
No change in area of habitats to last year
<%end%>
</div>