<!DOCTYPE html>
<html>
<head>
  <title>eUcoMap</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="header">
<center>
<b>eUcoMap</b><br/>
<%= link_to("Home", :root) %> | <%= link_to("FAQ","/faq.html") %><br/>
<%= link_to("Colours according to Habitat",HabiYear.find_by_year(2010)) %> | <%= link_to("Colours according to Sufficiency",SuffYear.find_by_year(2010)) %>
</center>
</div>
<%= yield %>
<div class="footer">
<center>
Oh Hai I'm a footer - insert a Rails, MySQL-pic in me etc.
</center>
</div>
</body>
  <%= javascript_include_tag :defaults %>
</html>
